[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jasonshi/servermountpoint]
row=11
col=0

[/home/jasonshi/Documents]
row=5
col=0

[/home/jasonshi/Pictures]
row=8
col=0

[/home/jasonshi/calibreLib]
row=4
col=0

[/home/jasonshi/Templates]
row=12
col=0

[/home/jasonshi/PycharmProjects]
row=9
col=0

[/home/jasonshi/R]
row=10
col=0

[/home/jasonshi/Arduino]
row=3
col=0

[/home/jasonshi/Music]
row=7
col=0

[/home/jasonshi/Downloads]
row=6
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/jasonshi]
row=1
col=0

